extends layout

block content
    .jumbotron
        h1(style="text-align: center") Admin Panel
    hr
    .row
        .col-md-8
            h3 Statistics
            hr
            .well
                h4 #{questions.length} questions asked
            br
            .well               
                h4 #{users.length} users
                .progress
                    .progress-bar.progress-bar-success.progress-bar-striped(role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:"+users.length+'%')
            hr

        .col-md-4
            h3 Add Subject
            hr
            form(method='POST', action='/user/dashboard')
                #form-group
                    label Subject Name
                    input.form-control(type=text, name='name')
                    br
                #form-group
                    label Stream
                    input.form-control(type=text, name='stream',value='Computer Science')
                    br
                #form-group
                    label Year
                    input.form-control(type=text, name='year', value='2')
                    br
                #form-group
                    label Semester
                    input.form-control(type=text, name='semester', value='2')
                    br
                    input.btn.btn-success(type='submit', value='Save')
