extends layout

block content
    .jumbotron
        h1(style="text-align: center") Admin Panel
    hr
    .row
        .col-md-8
            h3 Statistics
            hr
            .row
                .col-md-4
                    .card.text-center.card-inverse.mb-3.card-success
                        .card-block
                            h4.card-title #{questions.length}
                            p.card-text questions
                .col-md-4
                    .card.text-center.card-inverse.mb-3.card-success
                        .card-block
                            h4.card-title #{subjects.length}
                            p.card-text Users
                .col-md-4
                    .card.text-center.card-inverse.mb-3.card-success
                        .card-block
                            h4.card-title #{users.length}
            hr

        .col-md-4
            h3 Add Subject
            hr
            form(method='POST', action='/admin')
                #form-group
                    label Subject Name
                    input.form-control(type=text, name='name')
                    br
                #form-group
                    label Stream
                    select.form-control(type=text, name='stream' disabled)
                        option Computer Science
                        option Computer Engineering
                        option Mechanical Engineering
                        option Civil Engineering
                    br
                #form-group
                    label Year
                    select.form-control(type=text, name='year')
                        option 1
                        option 2
                        option 3
                        option 4
                    br
                #form-group
                    label Semester
                    select.form-control(type=text, name='semester')
                        option 1
                        option 2
                    br
                    input.btn.btn-success(type='submit', value='Save')
