extends layout

block content
    .jumbotron
        h1(style="text-align: center") Admin Panel
    hr
    .row
        .col-md-8
            .row(style="text-align:center")
                h3 Statistics
                .col-md-3
                    .well
                        h4.card-title #{questions.length}
                        p questions
                .col-md-3
                    .well
                        h4.card-title #{answers.length}
                        p Answers
                .col-md-3
                    .well
                        h4.card-title #{subjects.length}
                        p Subjects
                .col-md-3
                    .well
                        h4.card-title #{users.length}
                        p Users
            .row(style="text-align:center")
                .col-md-6
                    h3 Online Users
                    .well
                        .card-title 
                            h2#online-user-field
                        p Users
            .row
                h3 New Questions
                ul.list-group
                    each question in questions
                        li.list-group-item
                            a(href="/questions/"+question._id)=question.title

        .col-md-4
            h3 Add Subject
            hr
            form(method='POST', action='/admin')
                #form-group
                    label Subject Name
                    input.form-control(type=text, name='name')
                    br
                #form-group
                    label Stream
                    select.form-control(type=text, name='stream')
                        option Computer Science
                        option Computer Engineering
                        option Mechanical Engineering
                        option Civil Engineering
                    br
                #form-group
                    label Year
                    select.form-control(type=text, name='year')
                        option 1
                        option 2
                        option 3
                        option 4
                    br
                #form-group
                    label Semester
                    select.form-control(type=text, name='semester')
                        option 1
                        option 2
                    br
                    input.btn.btn-success(type='submit', value='Save')
