extends layout

block content
    h1(style="text-align: center") Welcome #{user.username}
    hr
    .row
        .col-md-8
            h4 #{questions.length} questions
            br
            if questions
                ul.list-group
                    each question in questions
                        li.list-group-item
                            <a href='/questions/#{question._id}'>#{question.title}</a>
            hr

        if user.username === 'admin'
            .col-md-4
                h3 Add Subject
                form(method='POST', action='/user/dashboard')
                    #form-group
                        label Subject Name
                        input.form-control(type=text, name='name')
                        br
                    #form-group
                        label Stream
                        input.form-control(type=text, name='stream',value='Computer Science')
                        br
                    #form-group
                        label Year
                        input.form-control(type=text, name='year', value='2')
                        br
                    #form-group
                        label Semester
                        input.form-control(type=text, name='semester', value='2')
                        br
                        input.btn.btn-success(type='submit', value='Save')
