extends layout

block content
    .col-md-8
        h3 #{questions.length} Questions
        ul.list-group
            each question in questions
                li.list-group-item 
                    <a href="/questions/#{question._id}#"> #{question.title} </a>
        hr
        h3 #{answers.length} Answers
        ul.list-group
            each answer in answers
                li.list-group-item !{answer.body}
                br
    .col-md-4
        div(style="text-align: center")
            hr
            h1(style="font-family: 'Raleway'") #{current_user.firstName} #{current_user.lastName} 
                <small> #{current_user.username} </small>
            hr
        if current_user.imgsrc
            div(style="float: center")
                img(width="100%", src=current_user.imgsrc)
                hr
        .well
            h3 #{current_user.faculty}
                br
                small Year - #{current_user.year} | semester - #{current_user.semester}
            hr
            if current_user.bio
                h3 
                    small= current_user.bio
                hr
            h3 <i class='fa fa-thumbs-up'></i> 
                small #{votes} karmas
            h3 #{questions.length}
                small  questions asked
            h3 #{answers.length}
                small  answers submitted
